
/* Microsoft Standard CSS*/
body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/

.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/* Custom CSS*/

.instructions
{
    border-radius: 10px;
    border: 2px dashed #333;
    background-color: #222;
    color:white;
    font-family: 'Oxygen', Arial;
    margin-bottom: 20px;
    clear:both;
    display:block;
    overflow:hidden;
}
.instructions li{
    padding:4px;
}
.tags {
    max-width: 972px;
    /*max-height: 972px;*/
    margin-bottom: 24px;
    clear: both;
    overflow:hidden;
}
.tag {
    width: 30%;
    height: auto;
    min-height:100px;
    border-radius: 3px;
    background-color: rgb(215, 215, 215);
    border-color: rgb(200, 200, 200);
    margin: 10px 10px 24px 10px;
    display: inline-block;
    transition: all 0.5s linear;
    position: relative;
}

.tag:before, .tag:after {
    content: " ";
    display: table;
}

.touch .tag:active {
    background-color: rgba(0, 0, 0, 0.5);
}
.tag img
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    /*border-radius: 3px;*/
    max-width: 100%;
    height: auto;
    width: 100%;

}

h1 {
    background-color: black;
    width: 100%;
    padding: 5px;
    color: white;
    font-family: 'Francois One', Arial;
}


.rndbtn {
    border-radius: 3px;
    background-color: black;
    font-family: 'Oxygen', Arial;
    color: white;
    font-size: 30pt;
}



span {
    z-index: 2;

    border-radius: 3px;
    padding: 1px;
    padding-left: 4px;
    padding-right: 4px;
    position: absolute;
    background-color: white;
    text-align: right;
    bottom: 2%;
    right: 1%;
    opacity: 0.4;
    font-family: 'Francois One',Arial;
    color: green;
    font-size: 100%;
    transition: opacity 0.5s linear;
    transition: font-size 0.1s linear;
    /*background-image: url("assets/stripe.png");
	background-repeat: always;*/
}
.touch span
{

}
    span.selected {
        background-color: green;
        opacity: 0.8;
        font-size: 1.1em;
        color: white;

    }

    span:hover {
        opacity: 1;
    }







.cnscnt {
    background-color: #FFFFCC;
    display: inline-block;
    padding: 1px;
}

input[type=checkbox] {
    visibility: hidden;
}

.checkbox {
    background-image: url("assets/unsel.png");
    background-color: green;
}

    .checkbox:checked {
        background-image: url("assets/sel.png");
        background-color: black;
    }
